#listmenu{
	background-color: #FAFDD6;
}
.md55{
	width:460px;
	 height:460px;
}
.ss2{
	background-color: #FCFFE7;
	width: auto;
	height: 500px;
}
.ss21{
	background-color: gray;
	width: 80%;
	height: 400px;

}
